* {
    border: 0;
    padding: 0;
    margin: 0;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: big john;
    width: 100%;
    height: 100vh;
}

h2 {
    font-size: 60px;
    background: #eee;
    padding: 8px 24px;
    border-radius: 16px;
}

div:nth-child(1) {
    background-image: url(img/circuit1.jpg);
    background-size: cover;
}

div:nth-child(2) {
    background: #00A86B;
}

div:nth-child(3) {
    height: 400px;
    background-image: url(img/circuit2.jpg);
    background-attachment: fixed;
    backgrount-size: cover;
}

div:nth-child(4) {
    background: #FF69B4;
}

div:nth-child(5) {
    background-image: url();
    background-size: cover;
}